html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

/*  colors.scss Description: All the colors. */
/*=Colors
--------------------------------------------------------------------------------------- */
html, body { font-size: 100%; background-color: #fff; }

body { padding-bottom: 2rem; }

a { cursor: pointer; }

.overflow-active { height: 100vh; overflow: hidden; }

.icon { vertical-align: middle; display: inline-block; width: 16px; height: 16px; fill: currentColor; margin-right: 0.2rem; }

.container { max-width: 1160px; margin: 0 auto 1.5rem; }

.portal-copy { padding: 0 2rem; }

.portal_intro { padding: 2rem 0 0; }

.sticky { position: -webkit-sticky; position: sticky; top: 0; }

.sticky:before, .sticky:after { content: ''; display: table; }

.button { display: inline-block !important; margin: 1em auto 0.5em; padding: 7px 15px; border-radius: 20px; font-size: 15px; color: white !important; text-decoration: none; background-color: #50bcb6; }

.topic-page { padding-top: 100px; }

.pocket_logo { display: inline-block; height: 26px; }

.portal-header { font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #fff; color: #444; background-size: cover; text-align: center; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); position: relative; z-index: 10; padding: 0 2rem; overflow: hidden; }

.topic-page .portal-header { top: 0; left: 0; display: block; width: 100%; position: fixed; }

.topic-header-content { padding: 25px 0 40px; }

.portal-header h1 { letter-spacing: 0.05em; font-weight: 400; font-size: 25px; margin: 0 0 25px; }

.global-nav { padding: 15px 0; max-width: 1160px; margin: 0 auto; }

.global-nav::after { clear: both; content: ""; display: table; }

.global-nav .logo { float: left; }

.global-nav .profile { float: right; list-style-type: none; margin: 0; padding: 0; }

.global-nav .profile::after { clear: both; content: ""; display: table; }

.global-nav .profile li { float: left; margin-left: 12px; }

.global-nav .profile a { font-size: 13px; line-height: 26px; text-decoration: none; color: #fff; }

.beta-ribbon { z-index: 100; text-transform: uppercase; font-weight: 800; font-size: 15px; width: 200px; background: #50bcb6; position: absolute; top: 15px; right: -70px; text-align: center; line-height: 30px; letter-spacing: 1px; color: #f0f0f0; transform: rotate(45deg); }

.portal-nav { display: block; background: #fff; position: relative; max-width: 1160px; margin: 0 auto; padding: 0; height: 43px; overflow: hidden; }

.portal-nav::after { clear: both; content: ""; display: table; }

.portal-nav ul { white-space: nowrap; overflow: hidden; list-style-type: none; margin: 0; padding: 0; float: left; width: 80%; }

.portal-nav ul::after { clear: both; content: ""; display: table; }

.portal-nav ul li { float: left; margin-right: 1.3rem; }

.portal-nav ul li a { display: block; text-decoration: none; text-transform: uppercase; font-size: 15px; color: #444; padding: 0 10px; line-height: 41px; border-bottom: 2px solid transparent; }

.portal-nav ul li.selected a, .portal-nav ul li a:hover { color: #50bcb6; border-bottom: 2px solid #50bcb6; }

.portal-nav ul li:first-child a { padding-left: 0; }

.portal-nav ul li.overflow { margin-right: .5rem; }

.portal-nav ul li.overflow a { color: #666; }

.portal-nav ul li.overflow a:hover { border-bottom: 2px solid transparent; }

.portal-nav ul li.overflow .icon { width: 20px; height: 20px; }

@media screen and (max-width: 670px) { .portal-nav ul li:nth-child(n+4) { display: none; } }

@media screen and (max-width: 570px) { .portal-nav ul li:nth-child(n+2) { display: none; } }

.portal-nav form { position: absolute; right: 10px; top: 6px; }

.icon.portal_nav_icon { width: 20px; height: 20px; margin-right: 0.4em; }

.explore_search { color: #888; position: relative; margin: 0 auto; width: 25em; }

.explore_search .explore_icon { position: absolute; top: 7px; left: 9px; width: 14px; height: 14px; pointer-events: none; }

.explore_search input { width: 25rem; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #444; font-size: 14px; line-height: 20px; border-radius: 5px; border: 1px solid #DDD; outline: none; padding: 4px 10px 2px 30px; transition: width 150ms ease-in-out; }

.explore_search input:-webkit-autofill { -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */ -webkit-text-fill-color: #666; }

.explore_search input:focus, .explore_search input:-webkit-autofill:focus { -webkit-box-shadow: 0 0 0 50px white inset; -webkit-text-fill-color: #222; }

.explore_search.search_toolbar { width: auto; }

.explore_search.search_toolbar input { width: 8.5rem; }

.explore_search.search_toolbar input:focus { width: 15rem; }

.related_list { padding: 1rem 0; }

.related_list h2 { display: inline-block; }

.related_list ul { font-size: 12px; text-align: left; display: block; text-transform: uppercase; max-width: 1160px; margin: 0 auto; padding: 0 2rem; }

.related_list ul li { display: inline-block; padding-right: 20px; }

.related_list ul li a { display: inline-block; text-decoration: none; color: #50bcb6; }

.related_list ul li a:hover { color: #444; }

.related_list.fixed { background-color: #fff; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 10; border-bottom: 0; box-shadow: rgba(0, 0, 0, 0.5) -1px 0 1px; transition: all 200ms ease-in-out; transform: translateY(100%); padding: 0; }

.related_list.fixed ul { height: 70px; line-height: 70px; overflow: hidden; }

.related_list.active { transform: translateY(0); }

.overflow-nav { overflow: hidden; width: 100vw; height: 0; position: fixed; background-color: rgba(255, 255, 255, 0.98); z-index: 1000; transition: height 150ms ease-in-out; }

.overflow-nav.active { height: 100vh; overflow: scroll; }

.full-nav { width: 100%; list-style-type: none; margin: 0 auto 4rem; max-width: 1160px; padding: 2rem; }

.full-nav a { display: block; color: #50bcb6; text-decoration: none; padding: 1rem 0; }

.full-nav a:hover { color: #666; }

.portal_intro { width: 100%; display: block; background-color: #e6e6e6; border-bottom: 1px solid #ccc; max-height: 0; overflow: hidden; padding: 0; position: relative; }

.portal_intro.intro_active { max-height: 100vh; }

.portal_intro .intro_block { padding: 3rem 0; width: 80%; margin: 0 auto; overflow: hidden; }

.portal_intro .intro_block::after { clear: both; content: ""; display: table; }

.portal_intro .icon_feature { margin-right: 2rem; float: left; fill: #ccc; width: 125px; height: 125px; display: inline-block; }

.portal_intro .intro_content { float: right; width: 75%; }

.portal_intro h3 { font-size: 30px; font-weight: 100; margin: 0; }

.portal_intro p { font-size: 16px; }

.portal_intro a { color: #50bcb6; text-decoration: none; }

.portal_intro a:hover { color: #ccc; }

.portal_intro .pocket_close { position: absolute; top: 1rem; right: 1rem; }

.portal_topic_list { list-style-type: none; padding: 0; margin: 0 auto; max-width: 1160px; }

.portal_topic_list > li { box-sizing: border-box; width: 100%; position: relative; }

.portal_topic_list > li::after { clear: both; content: ""; display: table; }

.portal_topic_list > li:first-child .topic_header { border-top: 0; margin-top: 0; }

.portal_item_list { list-style-type: none; padding: 0; margin: 0; }

.portal_item_list .excerpt { display: block; }

.portal_item_list .item_image { display: none; }

.portal_item_list .title { font-size: 18px; }

.portal_item_list .item_actions { left: auto; right: 10px; bottom: 15px; visibility: hidden; }

.portal_item_list > li { position: relative; float: right; width: 40%; margin-bottom: 1rem; border-bottom: 1px solid #ccc; padding-bottom: 25px; }

.portal_item_list > li:hover .item_actions { visibility: visible; }

.portal_item_list > li::after { clear: both; content: ""; display: table; }

@media screen and (max-width: 850px) { .portal_item_list > li { width: 100%; display: block; }
  .portal_item_list > li .item_content { width: 70%; }
  .portal_item_list > li .item_image { display: block; float: left; width: 20%; height: 150px; margin-right: 2rem; } }

.portal_item_list > li:first-child { border-bottom: none; box-sizing: border-box; padding-right: 2rem; float: left; width: 58%; border-right: 1px solid #ccc; }

.portal_item_list > li:first-child .domain { display: block; }

.portal_item_list > li:first-child .title { margin: 1em 0; font-size: 26px; }

.portal_item_list > li:first-child .excerpt { display: block; }

.portal_item_list > li:first-child .item_image { display: block; height: 300px; background-position: 50% 20%; }

@media screen and (max-width: 850px) { .portal_item_list > li:first-child { float: none; border-right: 0; border-bottom: 1px solid #ccc; padding-right: 0; padding-bottom: 1rem; width: 100%; display: block; }
  .portal_item_list > li:first-child .item_content { width: 100%; }
  .portal_item_list > li:first-child .item_image { width: 100%; } }

.portal_item_list > li:last-child { border-bottom: 0; }

.portal_topic_list h2.topic_header { margin: 2rem 0 0; text-transform: uppercase; font-size: 26px; line-height: 26px; letter-spacing: 0.06em; font-weight: 100; padding: 2rem 0; border-top: 1px solid #ccc; }

.portal_topic_list h2.topic_header::after { clear: both; content: ""; display: table; }

.portal_topic_list h2.topic_header a { text-decoration: none; color: #444; float: left; }

.portal_topic_list h2.topic_header a:hover { color: #50bcb6; }

.portal_topic_list h2.topic_header a.explore_more { font-size: 14px; line-height: 26px; vertical-align: baseline; float: right; padding-right: 1rem; color: #3c9d98; }

.portal_topic_list h2.topic_header a.explore_more:hover { color: #50bcb6; }

@media screen and (max-width: 850px) { .portal_topic_list h2.topic_header { border-bottom: 0; } }

/* -- simple index page to start with -- */
.simple-index { background-color: #f2f2f2; height: 100vh; overflow: hidden; text-align: center; }

.simple-index h1 { margin: 100px 0px 25px; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 35px; }

@media screen and (max-width: 670px) { .simple-index h1 { font-size: 25px; } }

@media screen and (max-width: 670px) { .simple-index .explore_search { width: 15rem; } }

.simple-index-search .explore_input { height: 40px; line-height: 40px; font-size: 16px; }

@media screen and (max-width: 670px) { .simple-index-search .explore_input { width: 15rem; } }

.simple-index-search .explore_search .explore_icon { top: 13px; }

.simple-index .search_toolbar { visibility: hidden; }

.simple-index input[type="submit"] { margin-top: 20px; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #d23544; border-radius: 20px; color: #fff; font-weight: 600; padding: .4em 1.25em; font-size: .875em; padding: .7em 1.25em; border: 0px; }

.simple-index input[type="submit"]:hover { background-color: #d5374b; cursor: pointer; }

.simple-index h4 { margin-top: 60px; margin-bottom: 8px; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; }

.simple-index .example_searches { list-style: none; margin: 0px; padding: 0px; }

.simple-index .example_searches li { display: inline-block; padding: 0px 10px; }

.simple-index .example_searches li a { font-size: 12px; color: gray; text-decoration: none; }

.simple-index .example_searches li a:hover { text-decoration: underline; color: #50bcb6; }

.trending_list, .best_of_list, .topic-heading { padding: 0 2rem; background-color: #f2f2f2; }

.topic-heading { color: #555; padding: 3.5rem 2rem; }

.topic-heading .heading-content { max-width: 1160px; margin: 0 auto; position: relative; }

.topic-heading .heading-content::after { clear: both; content: ""; display: table; }

.topic-heading h2 { margin: 0; padding: 0 0 1rem; text-transform: none; letter-spacing: 0.02em; font-weight: 100; font-size: 35px; }

.topic-heading p { margin: 0 0 0.5rem; font-weight: 100; line-height: 1.35; }

.topic-heading .related_topic_list { list-style-type: none; margin: 0; padding: 0; }

.topic-heading .related_topic_list li { display: inline-block; }

.topic-heading .related_topic_list li a { font-weight: 100; color: #666; text-decoration: none; display: block; padding: 0 0.3rem; }

.topic-heading .related_topic_list li a:hover { color: #50bcb6; text-decoration: underline; }

.topic-heading .results { display: none; color: #999; text-align: center; position: absolute; right: 0; top: 20px; font-size: 35px; line-height: 25px; font-weight: 100; }

.topic-heading .results .results_label { font-size: 16px; }

.topic-heading .portal_icon { display: inline-block; width: 26px; height: 26px; fill: #ffffff; background-color: #444; border-radius: 50%; vertical-align: bottom; }

.trending_list .portal_list .item:nth-child(n+4) { display: none; }

@media screen and (max-width: 850px) { .trending_list .portal_list .item:nth-child(n+3) { display: none; } }

.portal_list { list-style-type: none; padding: 0; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: justify; justify-content: space-between; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; max-width: 1160px; margin: 0 auto; }

.portal_list .item { box-sizing: border-box; padding: 0; width: 31%; border: 0; margin-bottom: 2rem; position: relative; background-color: #fff; box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }

.portal_list .item article .item_content { padding: 0rem 1.5rem 3.5rem; }

@media screen and (max-width: 1020px) { .portal_list .item article .item_content { padding: 0 1rem 2.5rem; } }

@media screen and (max-width: 850px) { .portal_list .item { width: 45%; margin: 0 auto 3rem; border-right: 0; border-bottom: 1px solid #ccc; padding-bottom: 3.5rem; } }

@media screen and (max-width: 670px) { .portal_list .item { width: 100%; max-width: 435px; } }

.flag { display: block; padding: 5px 12px 5px 16px; position: absolute; border-radius: 0 3px 3px 0; font-size: 14px; top: 1rem; left: -0.2em; color: #fff; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); z-index: 9; letter-spacing: 0.05em; }

.flag-trending { background-color: #50bcb6; }

.flag-spoc { background-color: #d23544; }

.item_image { border-bottom: 1px solid #ccc; background-position: center center; opacity: 0; transition: opacity 0.3s ease-in; width: 100%; height: 175px; margin-bottom: 0.5rem; position: relative; }

.item_image.teal, .item_image.coral, .item_image.goldenrod { background-image: url("../images/pattern-min.svg") !important; background-repeat: repeat; background-size: 100% !important; }

.item_image.teal { color: #50bcb6; background-color: #50bcb6 !important; }

.item_image.coral { color: #d23544; background-color: #d23544 !important; }

.item_image.goldenrod { color: #ECBF63; background-color: #ECBF63 !important; }

.image_active { opacity: 1; }

.sponsor { display: block; margin: 0 0 .5rem; font-size: 12px; line-height: 12px; padding: 0; font-weight: 600; letter-spacing: .05em; color: #2e7874; text-transform: uppercase; }

.sponsor::after { clear: both; content: ""; display: table; }

.sponsor .sponsor_name { font-size: 12px; font-weight: 400; color: #999; text-transform: none; float: right; }

.domain { display: block; margin: 1rem 0; font-size: 14px; font-style: normal; padding: 0; }

.domain::after { clear: both; content: ""; display: table; }

.domain a { float: left; color: #909090; display: block; color: #909090; text-decoration: none; overflow: hidden; text-overflow: ellipsis; max-width: 45%; text-rendering: optimizeLegibility; }

.domain a:hover { color: #50bcb6; text-decoration: underline; }

.read_time { float: right; color: #909090; }

.title { font-size: 20px; margin: 0 0 1rem; padding: 0; }

.title_sponsor { font-size: 20px; margin: 0 0 .5rem; padding: 0; font-style: italic; }

.title a, .title_sponsor a { text-decoration: none; color: #000; }

.title a:hover, .title_sponsor a:hover { color: #50bcb6; }

@media screen and (max-width: 850px) { .text_item .item_content { width: 100%; } }

.text_item .title { font-size: 1.6em; font-weight: 200; }

.item_content p { margin: 0 0 1em; color: #444; line-height: 1.4; word-wrap: break-word; }

.item_footer { clear: both; position: absolute; bottom: 1rem; left: 1.5rem; right: 1.5rem; }

.item_footer::after { clear: both; content: ""; display: table; }

@media screen and (max-width: 1020px) { .item_footer { left: 1rem; bottom: 1rem; } }

.item_actions { float: left; list-style-type: none; margin: 0; padding: 0; }

.save_count { float: right; font-size: 14px; line-height: 18px; vertical-align: bottom; color: #999; }

.item_action { float: left; margin-right: 15px; }

.item_action a { color: #999; text-decoration: none; font-size: 14px; line-height: 16px; }

.item_action a.item_content_saving { color: #d23544; }

.item_action a.item_content_saved, .item_action a:hover { color: #d23544; }

.icon_save { vertical-align: bottom; }

.spoc_actions { float: right; color: #999; position: relative; }

.spoc_actions a, .spoc_actions a:visited { color: #999; }

.spoc_actions a:hover, .spoc_actions a:active { color: #666; }

.item_overflow_icon { display: inline-block; fill: currentColor; height: 22px; width: 22px; vertical-align: middle; line-height: 16px; }

.more-trending { display: block; padding: 1rem 0 0; font-size: 12px; color: #999; text-decoration: none; text-align: right; }

.more-trending:hover { color: #50bcb6; }

.item_play_icon { width: 50%; height: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#site_footer_nav { text-align: center; list-style: none; padding: 15px 20px 30px 20px; }

#site_footer_nav li { display: inline-block; margin-left: 12px; margin-right: 12px; margin-bottom: 5px; font-size: 0.8em; color: lightgray; }

#site_footer_nav li a { color: gray; text-decoration: none; }

#site_footer_nav li a:hover { color: #50bcb6; text-decoration: underline; }

/*=Popovers
--------------------------------------------------------------------------------------- */
.popover-new { background: #fff; border-radius: 2px; border: 1px solid #dcdce0; opacity: 0; position: absolute; top: 1.5rem; right: -0.5rem; text-align: left; visibility: hidden; transition: visibility 0.05s linear; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); z-index: 500; }

.popover-new .arrow { border-width: 8px; z-index: 5; }

.popover-new .arrow, .popover-new .arrow:after { border-color: transparent; border-style: solid; display: block; height: 0; position: absolute; width: 0; }

.popover-new .arrow:after { border-width: 8px; content: ""; }

.popover-new-bottomleft .arrow { top: -8px; left: auto; right: 10px; margin-left: -8px; border-bottom-color: #ccc; border-top-width: 0; }

.popover-new-bottomleft .arrow:after { top: 1px; margin-left: -8px; border-bottom-color: #fff; border-top-width: 0; }

.popover-active { height: auto; opacity: 1; visibility: visible; transition: opacity 0.1s linear, visibility 0.1s linear; }

.popover-new-list { margin: 0; padding: 0; position: relative; width: auto; z-index: 10; }

.popover-new-list li { list-style: none; }

.popover-new .popover-new-list a { color: #313131; font-size: 1em; margin: 0; padding: 0.5em 2em; text-align: left; width: auto; white-space: nowrap; }

.popover-new .popover-new-list a:hover { background-color: #50bcb6; color: #fff; }

.popover-new-header { display: none; border-bottom: 1px solid #dcdce0; position: relative; }

.popover-new-header h2 { font-size: 1em; line-height: 1; margin: 1.05em 1.65em; }

.spoc-overflow ul { padding: 0.55em 0; }

.spoc-overflow .popover-new-list a { box-sizing: border-box; display: block; text-decoration: none; position: relative; line-height: 36px; padding: 0 1.1em; padding-right: 1.7em; }

.spoc-overflow .popover-new-list a .overflow_icon { display: inline-block; fill: currentColor; height: 24px; width: 24px; margin-right: 8px; vertical-align: middle; }

.item_recommend .spoc-overflow .popover-new-list a .overflow_icon { width: 22px; height: 22px; }

.spoc-overflow .popover-new-list a .overflow_icon .item_content_savetext { margin-left: -1px; vertical-align: middle; line-height: 16px; }

.spoc-overflow .popover-new-list a .icon_hide_this { width: 23px; height: 23px; margin-right: 9px; }

.spoc-overflow .popover-new-list a .icon_copy_url { width: 24px; height: 24px; margin-right: 8px; }

.spoc-overflow .popover-new-list a .icon_about_sponsor { width: 20px; height: 20px; margin-right: 12px; }

.spoc-overflow .popover-new-list a .icon_hide_all { width: 22px; height: 22px; margin-right: 10px; }

.empty_state { max-width: 1160px; margin: 0 auto; padding: 2rem; text-align: center; }

.empty_state .icon-no-results { fill: #bfc2c1; margin: 85px 0 0; }

.empty_state p { max-width: 500px; margin: 50px auto; color: #777; font-size: 20px; line-height: 1.3; }

.empty_state ul { list-style-type: none; margin: 0; padding: 0; }

.empty_state ul li { display: inline-block; }

.empty_state ul a { text-transform: uppercase; padding: 0 25px; text-decoration: none; font-weight: bold; color: #666; font-size: 15px; line-height: 1.2; }

.empty_state ul a:hover { color: #50bcb6; }

.remote_article_view .portal-header, .remote_article_view .collection_header, .remote_article_view .save_btn, .remote_article_view .article_closer, .remote_article_view #related_items_wrapper, .remote_article_view #site_footer_nav { display: none; }

.remote_article_view .saves { right: 0px !important; }

.remote_article_view #article { padding-top: 35px; }

.remote_article_view .section_publisher .button.subscribe { display: none !important; }

.collection_header { display: block; position: relative; margin: 40px 0px 40px 0px; padding: 0px 0px 0px 60px; height: 65px; line-height: normal !important; text-decoration: none; text-align: left; font-size: 15px; color: rgba(0, 0, 0, 0.6); font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.collection_header h5 { margin: 0px; padding: 0px; color: rgba(0, 0, 0, 0.8); font-size: 15px; font-weight: bold; }

.collection_header p { margin: 0px; padding: 0px; }

.collection_header span { position: absolute; left: 0px; top: 0px; width: 60px; height: 40px; background: url("/explore/assets/images/award-badge.svg") no-repeat center; background-size: contain; }

@media screen and (max-width: 670px) { .collection_header { margin-bottom: 60px; } }

.article .beta-ribbon { display: none; }

#related_items_wrapper, #article_comments_wrapper { background: #f2f2f2; }

#related_items_wrapper .topic-heading, #article_comments_wrapper .topic-heading { padding-top: 2rem; padding-bottom: 0rem; }

#related_items_wrapper h3, #article_comments_wrapper h3 { font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

#related_items_wrapper h3 a, #article_comments_wrapper h3 a { text-decoration: none; color: rgba(0, 0, 0, 0.8); }

#related_items_wrapper h3 a:hover, #article_comments_wrapper h3 a:hover { text-decoration: underline; }

#related_items_wrapper .item_content p, #article_comments_wrapper .item_content p { display: none; }

#article_comments_wrapper { padding-bottom: 50px; }

#article_comments_wrapper .topic-heading { max-width: 650px; padding-left: 0px; padding-right: 0px; margin-left: auto; margin-right: auto; }

@media screen and (max-width: 670px) { #article_comments_wrapper .topic-heading { padding-left: 10px; } }

#article { color: rgba(0, 0, 0, 0.8); font-family: ff-yoga-web-pro,Georgia,serif; font-size: 22px; line-height: 1.6em; letter-spacing: -0.3px; -webkit-text-size-adjust: none; /* Never autoresize text */ text-align: center; }

@media screen and (max-width: 670px) { #article { font-size: 19px; line-height: 1.5em; } }

#article .article_wrapper { position: relative; width: 700px; margin: 0px auto; text-align: left; }

@media screen and (max-width: 670px) { #article .article_wrapper { width: 100%; padding: 0px 20px; } }

#article .article_meta_and_body_wrapper { position: relative; }

#article .article_header h1 { margin: 0px 0px 10px 0px; font-size: 1.8em; line-height: 1.1em; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

#article .article_meta_wrapper { position: relative; }

@media screen and (min-width: 1020px) { #article .article_meta_wrapper.allows_sidebar { position: absolute; top: -20px; left: -160px; height: 100%; } }

#article .article_meta { position: static; width: auto; margin-bottom: 15px; line-height: 50px; font-size: 18px; color: rgba(0, 0, 0, 0.5); font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; /*&::after { content: ""; display: table; clear: both; }*/ }

#article .article_meta .meta_section { border: 0px; margin: 0px; padding: 0px; height: 50px; text-align: left; }

#article .article_meta .meta_section.section_publisher a.publisher_url, #article .article_meta .meta_section.section_author a.author_url { position: relative; display: inline-block; padding-left: 45px; color: rgba(0, 0, 0, 0.8); text-decoration: none; }

#article .article_meta .meta_section.section_publisher a.publisher_url .profile_image, #article .article_meta .meta_section.section_publisher a.publisher_url .publisher_logo, #article .article_meta .meta_section.section_author a.author_url .profile_image, #article .article_meta .meta_section.section_author a.author_url .publisher_logo { position: absolute; top: 7px; left: 0px; display: block; width: 35px; height: 35px; margin: 0px 15px 0px 0px; background-repeat: no-repeat; background-size: cover; }

#article .article_meta .meta_section.section_publisher.no_logo a.publisher_url { padding-left: 0px; }

#article .article_meta .meta_section.section_author a span { border-radius: 65px; }

#article .article_meta .meta_section.profile_image_default a.author_url { padding-left: 0px; }

#article .article_meta .meta_section.profile_image_default .profile_image { display: none !important; }

#article .article_meta .meta_section cite { font-style: normal; }

#article .article_meta .meta_section cite .date { display: inline-block; font-size: 1em; }

#article .article_meta .meta_section cite .date::before { content: " - "; }

#article .article_meta .button { position: absolute; top: 8px; right: 0px; line-height: normal; margin: 0px; }

#article .article_meta .meta_section.section_publisher { position: static; top: -150px; bottom: 100%; left: 0px; width: 100%; }

#article .article_meta .meta_section.section_author { display: inline-block; }

#article .article_meta .meta_section.section_author.has_no_author { visibility: hidden; }

#article .article_meta .saves { position: absolute; right: 80px; bottom: 0px; }

#article .article_meta .save_btn { position: absolute; right: 0px; bottom: -6px; }

@media screen and (max-width: 670px) { #article .article_meta .meta_section.section_author a.author_url { display: block; }
  #article .article_meta .meta_section.section_author { height: 35px; line-height: 35px; }
  #article .article_meta .meta_section.section_author .profile_image { top: 0px !important; }
  #article .article_meta .date { position: relative; top: -5px; }
  #article .article_meta .date::before { content: "" !important; }
  #article .article_meta .saves { position: absolute; right: 0px; bottom: 34px; }
  #article .article_meta .save_btn { position: absolute; bottom: -1px; right: 0px; } }

@media screen and (min-width: 1020px) { #article .allows_sidebar .article_meta { position: -webkit-sticky; position: sticky; width: 130px; margin-bottom: 150px; line-height: normal; }
  #article .allows_sidebar .article_meta .meta_section { padding: 20px 0px; width: 100%; height: auto; border-bottom: 1px solid #DDDDDD; text-align: center; }
  #article .allows_sidebar .article_meta .meta_section.section_publisher a.publisher_url, #article .allows_sidebar .article_meta .meta_section.section_author a.author_url { display: block; padding-left: 0px; }
  #article .allows_sidebar .article_meta .meta_section.section_publisher a.publisher_url .profile_image, #article .allows_sidebar .article_meta .meta_section.section_publisher a.publisher_url .publisher_logo, #article .allows_sidebar .article_meta .meta_section.section_author a.author_url .profile_image, #article .allows_sidebar .article_meta .meta_section.section_author a.author_url .publisher_logo { position: static; display: block; width: 65px; height: 65px; margin: 0px auto 14px auto; }
  #article .allows_sidebar .article_meta .meta_section.section_publisher { position: static; width: auto; }
  #article .allows_sidebar .article_meta .meta_section.section_author.has_no_author { display: none; }
  #article .allows_sidebar .article_meta .meta_section cite .date { display: block; padding-top: 10px; font-size: 0.8em; }
  #article .allows_sidebar .article_meta .meta_section cite .date::before { content: "" !important; }
  #article .allows_sidebar .article_meta .meta_section .button { position: static; margin-top: 15px; }
  #article .allows_sidebar .article_meta .saves { position: static; font-size: 0.8em; text-align: center; }
  #article .allows_sidebar .article_meta .save_btn { position: static; margin: 23px 0px 3px 0px; text-align: center; } }

#article .article_body a { cursor: pointer; color: rgba(0, 0, 0, 0.8); text-decoration: underline; }

#article .article_body a.selected { font-style: italic; text-decoration: none; }

#article .article_body a img, #article .article_body a.noLinkStyle { border: 0px; text-decoration: none; }

#article .article_body h1, #article .article_body h2, #article .article_body h3, #article .article_body h4, #article .article_body h5, #article .article_body h6 { font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; word-wrap: break-word; }

#article .article_body h1, #article .article_body h2 { line-height: 1.3em; font-size: 1.6em; margin: 1.7em 0px 0.7em 0px; }

#article .article_body h3 { line-height: 1.3em; font-size: 1.3em; margin: 1.7em 0px 0.5em 0px; }

#article .article_body h4 { line-height: 1.3em; font-size: 1.2em; margin: 1.7em 0px 0.5em 0px; }

#article .article_body h5, #article .article_body h6 { font-size: 1.1em; font-weight: bold; margin: 1.7em 0px 0.4em 0px; }

#article .article_body h3 + .RIL_IMG, #article .article_body h4 + .RIL_IMG, #article .article_body h5 + .RIL_IMG, #article .article_body h6 + .RIL_IMG, #article .article_body h3 + .RIL_VIDEO, #article .article_body h4 + .RIL_VIDEO, #article .article_body h5 + .RIL_VIDEO, #article .article_body h6 + .RIL_VIDEO { margin-top: 1.1em !important; }

#article .article_body h3 + ul, #article .article_body h3 + ol, #article .article_body h4 + ul, #article .article_body h4 + ol { margin-top: 1.1em; }

#article .article_body h5 + ul, #article .article_body h5 + ol, #article .article_body h6 + ul, #article .article_body h6 + ol { margin-top: 0.8em; }

#article .article_body p { margin: 0 0 1em 0px; text-align: left; }

#article .article_body li { text-align: left; }

#article .article_body ul, #article .article_body ol { margin: 1.5em 0px 1.5em 2em; }

#article .article_body li { margin: 0px 0px 0.4em 0px; }

#article .article_body ul ul, #article .article_body ol ol { margin: 0.75em 0 1em 2em; min-width: 250px; }

#article .article_body table.ril_dataTable th { border-color: #cccccc !important; }

#article .article_body table.ril_dataTable, #article .article_body table.ril_layoutTable { border-collapse: collapse; width: 100%; margin: 20px 0px 20px 0px; table-layout: fixed; }

#article .article_body table.ril_dataTable td, #article .article_body table.ril_layoutTable td { width: auto; text-align: left; padding: 0px; background: none; border: 0px; }

#article .article_body .ril_layoutTable td, #article .article_body .ril_layoutTable tr, #article .article_body .ril_layoutTable th { display: block; }

#article .article_body table.ril_dataTable { margin: 1.5em 0px 1.5em 0px; }

#article .article_body table.ril_dataTable th { font-weight: bold; border: 0px; padding: 0px 5px 0.3em 5px !important; border-bottom: 2px solid rgba(0, 0, 0, 0.8); text-align: left; }

#article .article_body table.ril_dataTable td { border: 0px; border-bottom: 1px solid #DDD; padding: 0.3em 5px !important; vertical-align: top; font-size: 0.8em; }

#article .article_body pre, #article .article_body blockquote { display: block; margin: 1.5em 7% 1.5em 7%; }

#article .article_body pre { overflow-x: scroll; -webkit-overflow-scrolling: touch; margin-left: 0px; margin-right: 0px; box-sizing: border-box; padding: 4px; font-size: 0.8em; border: 1px solid #ccc; background: #f5f5f5; }

#article .article_body blockquote { font-style: italic; }

#article .article_body sup, #article .article_body sub { vertical-align: baseline; position: relative; top: -0.4em; }

#article .article_body sub { top: 0.4em; }

#article .article_body hr { margin: 1em 0px; border: 0px; padding: 0px; height: 1px; background: #DDDDDD; }

#article .article_body figure { margin: 0px; padding: 0px; width: auto; }

#article .article_body .RIL_image { text-align: center; }

#article .article_body .RIL_image .article_image { width: auto; max-width: 100%; max-height: 750px; margin-left: auto; margin-right: auto; margin-bottom: 0.8em; }

#article .article_body .RIL_image.hasCaption .article_image { margin-bottom: 0.1em; }

@media screen and (max-width: 670px) { #article .article_body .RIL_image { text-align: left; }
  #article .article_body .RIL_image .article_image { max-width: 100vw; max-height: 500px; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; } }

#article .article_body .RIL_image .ril_caption, #article .article_body .RIL_image cite { display: none; text-align: left; }

#article .article_body .RIL_image.hasCaption { margin-bottom: 0.8em; }

#article .article_body .RIL_image.hasCaption .ril_caption, #article .article_body .RIL_image.hasCaption cite { display: block; clear: both; }

#article .article_body .RIL_image .ril_caption { padding: 6px 0px 0px 0px; color: #6d6c6c !important; font-size: 0.8em; line-height: 1.2em; text-align: left; text-decoration: none !important; }

#article .article_body .RIL_video { width: 100%; position: relative; margin-bottom: 25px; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }

#article .article_body .RIL_video iframe, #article .article_body .RIL_video object, #article .article_body .RIL_video embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#article .article_body #RIL_media { text-align: center; }

#article .article_body #RIL_media object, #article .article_body #RIL_media embed, #article .article_body #RIL_media img { margin-bottom: 15px; }

#article .article_body .RIL_clear { clear: both; }

#article .article_closer { border-top: 1px solid #DDDDDD; padding: 30px 0px; font-style: italic; }

/* --- */
/* .RIL_IMG { display: none; position: relative; margin: 0 auto;  overflow: visible; } .RIL_IMG:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .RIL_IMG.loaded { display: block; text-align: center; margin-bottom: 0.8em;  } .RIL_IMG #RIL_container > .RIL_IMG /* top header image */
/*
{
	margin-bottom: 12px;
}

.RIL_IMG .ril_wrapper
{
	width: 100%; 
	display: inline-block; 
	position:relative; 
	float: right; 
	right: 50%;
}

.RIL_IMG a
{
	display: block;
	margin: 0px auto;
	border: 0px !important;
	text-decoration: none !important;	
	
	position: relative; 
    right:-50%;
    width: 100%;
    text-align: left;
}

.RIL_IMG img
{
	width: 100%;
}


.RIL_VIDEO
{
	text-align: center;
	margin: 0px auto 18px 0px;
	overflow: hidden;
}

.RIL_VIDEO a 
{ 
	display: block; 
	background: black url(../i/play.png) center no-repeat;
}

/* --- */
/*




/* --- */
/*
.note {
	color: #666666;
	padding: 10px;
	background: #EEEEEE;
	margin-bottom: 15px;
}
body[textStyle="1"] .note {
	color:#CCCCCC;
	background: #333333;
}
body[textStyle="4"] .note {
	color:#CCCCCC;
	background: #333333;
}
body[textStyle="2"] .note {
	color:#927962;
	background: #dcccac;
}

/* --- */
/*
.mark_as_read {
	margin-top: 25px;
	text-align: center;
}

/* --- */
/* .scrollbar { position: fixed; top: -15%; right: 0px; width: 10px; border-left: 1px solid #e0e0e0; height: 133%; z-index: 10000; background: #f0f0f0; /* Old browsers */
/* background: -moz-linear-gradient(left, #f0f0f0 0%, #fcfcfc 44%, #fdfdfd 60%, #fcfcfc 77%, #ededed 100%); /* FF3.6+ */
/* background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f0f0), color-stop(44%,#fcfcfc), color-stop(60%,#fdfdfd), color-stop(77%,#fcfcfc), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
/* background: -webkit-linear-gradient(left, #f0f0f0 0%,#fcfcfc 44%,#fdfdfd 60%,#fcfcfc 77%,#ededed 100%); /* Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(left, #f0f0f0 0%,#fcfcfc 44%,#fdfdfd 60%,#fcfcfc 77%,#ededed 100%); /* Opera 11.10+ */
/* background: -ms-linear-gradient(left, #f0f0f0 0%,#fcfcfc 44%,#fdfdfd 60%,#fcfcfc 77%,#ededed 100%); /* IE10+ */
/* background: linear-gradient(left, #f0f0f0 0%,#fcfcfc 44%,#fdfdfd 60%,#fcfcfc 77%,#ededed 100%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
/*
	
	opacity: 0;
	-webkit-transition: opacity ease-in 0.3s;
}
.opaque
{
	opacity: 1;
}

/* --- */
/* .page_blocker {	 position: absolute; top: 0px; left: 0px; right: 0px; width: 100%; height: 100%; opacity: 1; z-index: 1000000; -webkit-transform: translate(0,0); -webkit-transition: opacity ease-in 0.01s; background: none !Important; /* make it invisible as these are now only to prevent touches */
/* } .page_blocker.allowFade { -webkit-transition-duration: 0.2s; } .page_blocker.passTouch { pointer-events: none; /* prevents the blocker from being hit by elementAtPoint */
/* } .page_blocker.hide { display: none; pointer-events: none; /* prevents the blocker from being hit by elementAtPoint */
/*
}

/* block touches over the sides of images when paginated */
/* .RIL_IMG::after { content:""; position: absolute; top: 0px; right: 0px; width: 20%; height: 100%; z-index: 10000; } .RIL_IMG::before { content:""; position: absolute; top: 0px; left: 0px; width: 20%; height: 100%; z-index: 10000; } */
/* -- Imported from global social pages -- Would be nice to clean this up -- */
.sprofile-post { background-color: #fff; box-sizing: border-box; border: 1px solid #dadada; margin: 1.25em 0.5em; max-width: 40.625em; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 1em 0.5em 1.25em; }

@media only screen and (min-width: 32em) { .sprofile-post { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); border: none; padding: 2em 3.125em; } }

@media only screen and (min-width: 41.625em) { .sprofile-post { margin-left: auto; margin-right: auto; } }

.sprofile-post-header { padding: 0 0.5em; }

.sprofile-post-header:after { content: ""; display: table; clear: both; }

@media only screen and (min-width: 32em) { .sprofile-post-header { margin-bottom: 1.5em; padding: 0; } }

.flexbox .sprofile-post-header { -ms-flex-align: center; align-items: center; display: -ms-flexbox; display: flex; }

.sprofile-profile { color: #313131; display: inline-block; float: left; }

.sprofile-profile:after { content: ""; display: table; clear: both; }

.flexbox .sprofile-profile { -ms-flex-align: center; align-items: center; display: -ms-flexbox; display: flex; -ms-flex: 1; flex: 1; max-width: 100%; }

.sprofile-profile-avatar { background: #fff center center no-repeat; background-size: auto 25px; border-radius: 1.5625em; display: block; float: left; height: 1.5625em; width: 1.5625em; }

@media only screen and (min-width: 32em) { .sprofile-profile-avatar { background-size: auto 30px; border-radius: 1.875em; height: 1.875em; width: 1.875em; } }

.sprofile-profile-name { font-size: 0.9375em; float: left; font-weight: 600; line-height: 1; margin: 0.4em 0 0 0.4em; max-width: 15em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left; }

@media only screen and (min-width: 32em) { .sprofile-profile-name { font-size: 1.25em; } }

.flexbox .sprofile-profile-name { -ms-flex: 1; flex: 1; max-width: inherit; margin-top: 0; }

.sprofile-post-time { color: #999; font-size: 0.75em; margin: 0; padding-left: 0.5em; text-align: right; }

@media only screen and (min-width: 32em) { .sprofile-post-time { font-size: 0.875em; } }

.sprofile-attribution-content { display: block; margin-top: 1em; text-align: left; }

@media only screen and (min-width: 32em) { .sprofile-attribution-content { margin-bottom: 1.75em; } }

.sprofile-attribution-comment { line-height: 1.3; margin-bottom: 1em; }

@media only screen and (min-width: 32em) { .sprofile-attribution-comment { font-size: 1.25em; margin-bottom: 0.75em; } }

.sprofile-attribution-quotewrap { border-left: 1px solid #777; color: #777; font-size: 0.875em; font-style: italic; padding: 0 0 0 0.75em; }

.sprofile-attribution-quote { color: #777; line-height: 1.3; }

@media only screen and (min-width: 32em) { .sprofile-attribution-quote { font-size: 1.1429em; margin-top: 1.5em; } }

body.eoy { padding-bottom: 0; }

.eoy-2016 { text-align: center; font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #222; }

.eoy-2016 .container { display: inline-block; max-width: 53.9375em; width: 100%; }

.eoy-2016 .eoy-stats-left { float: left; }

.eoy-2016 .eoy-stats-right { float: right; }

.eoy-2016 .eoy-pocket-logo { display: inline-block; width: 217px; margin-bottom: 50px; }

.eoy-2016 .eoy-hero { background-color: #00A6B5; background-image: url("/explore/assets/images/eoy/2016/hero-pattern.svg"); padding: 90px 0 130px; }

.eoy-2016 .eoy-hero h1 { margin: 0; color: #ffffff; font-weight: 100; text-transform: uppercase; font-size: 80px; line-height: 80px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.eoy-2016 .eoy-hero h1 .eoy-year { text-shadow: none; font-size: 33px; vertical-align: middle; display: inline-block; line-height: 90px; width: 90px; height: 90px; border-radius: 50%; background-color: #EF4056; }

.eoy-2016 .eoy-hero h1 .eoy-sub { vertical-align: middle; display: inline-block; font-size: 40px; line-height: 40px; height: 40px; text-decoration: underline; }

.eoy-2016 .eoy-trending-topics { background-color: #343434; background-image: linear-gradient(to bottom, 0% #343434 100% #424242); }

.eoy-2016 .eoy-trending-copy { display: block; }

.eoy-2016 .eoy-trending-copy p { display: inline-block; font-size: 30px; color: #fff; max-width: 700px; padding: 0 50px; }

.eoy-2016 .eoy-ribbon-trending { width: 340px; display: inline-block; transform: translateY(-20%); }

.eoy-2016 .eoy-monthly-topics { list-style-type: none; margin: 0 auto; padding: 30px 0 50px; max-width: 700px; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.eoy-2016 .eoy-topic { width: 25%; color: #fff; font-size: 18px; line-height: 60px; margin-bottom: 30px; }

@media screen and (max-width: 850px) { .eoy-2016 .eoy-topic { width: 33%; } }

@media screen and (max-width: 670px) { .eoy-2016 .eoy-topic { width: 50%; } }

.eoy-2016 .eoy-topic-link { display: block; color: #ffffff; text-decoration: none; }

.eoy-2016 .eoy-topic-link:hover { color: #50bcb6; }

.eoy-2016 .eoy-topic-link:hover .eoy-topic-media { transform: scale(1.2, 1.2); }

.eoy-2016 .eoy-topic-media { width: 88px; height: 88px; display: block; border-radius: 50%; z-index: 2; overflow: hidden; margin: 0 auto; position: relative; transition: all 150ms ease-in-out; }

.eoy-2016 .eoy-topic-media img { width: 100%; }

.eoy-2016 .eoy-topic-media span { transform: translateZ(0.1); display: block; position: absolute; bottom: 0; left: 0; width: 100%; background-color: #FCB64B; font-size: 10px; text-transform: uppercase; line-height: 20px; color: #222; z-index: 0; }

.eoy-2016 .item { text-align: left; }

.eoy-2016 .eoy-top-stories { padding: 50px 2rem; }

.eoy-2016 .eoy-laurel-top-stories { display: inline-block; width: 390px; margin: 3rem 0 5rem; }

@media screen and (max-width: 570px) { .eoy-2016 .eoy-laurel-top-stories { width: 100%; } }

.eoy-2016 .item { text-align: left; }

.eoy-2016 .eoy-top-videos { padding: 50px 2rem 150px; }

.eoy-2016 .eoy-laurel-top-videos { display: inline-block; width: 390px; margin-bottom: 5rem; }

@media screen and (max-width: 570px) { .eoy-2016 .eoy-laurel-top-videos { width: 100%; } }

.eoy-2016 .eoy-top-publishers { background-color: #343434; background-image: linear-gradient(to bottom, 0% #343434 100% #424242); }

.eoy-2016 .eoy-ribbon-publishers { width: 340px; display: inline-block; transform: translateY(-20%); }

.eoy-2016 .eoy-publisher-list { list-style-type: none; margin: 0 auto; padding: 30px 50px 50px; display: -ms-flexbox; display: flex; max-width: 1000px; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

@media screen and (max-width: 850px) { .eoy-2016 .eoy-publisher-list { -ms-flex-pack: distribute; justify-content: space-around; padding: 30px 0 50px; } }

.eoy-2016 .eoy-publisher { width: 33%; margin-bottom: 80px; }

.eoy-2016 .eoy-publisher h3 { font-size: 19px; color: #3c9d98; }

@media screen and (max-width: 850px) { .eoy-2016 .eoy-publisher { width: 50%; } }

.eoy-2016 .eoy-publisher-link { text-decoration: none; display: inline-block; }

.eoy-2016 .eoy-publisher-link:hover .eoy-publisher-cta { background-color: #50bcb6; }

.eoy-2016 .eoy-publisher-link:hover .eoy-publisher-logo { transform: scale(1.3, 1.3); }

.eoy-2016 .eoy-publisher-link:hover h3 { color: #50bcb6; }

.eoy-2016 .eoy-publisher-logo { display: inline-block; border-radius: 50%; width: 90px; height: 90px; overflow: hidden; transition: all 150ms ease-in-out; }

.eoy-2016 .eoy-publisher-logo img { width: 100%; height: 100%; }

.eoy-2016 .eoy-publisher-cta { background-color: #3c9d98; color: #ffffff; text-decoration: none; padding: 7px 14px; border-radius: 20px; }

.eoy-2016 .eoy-cheers { margin: 0; padding: 50px 50px 130px; background-color: #50BCB6; }

.eoy-2016 .eoy-cheers h3 { color: #ffffff; font-size: 40px; font-weight: 100; margin: 0; padding: 0; }

.eoy-2016 .eoy-cheers h4 { padding-top: 50px; font-size: 40px; font-weight: 100; color: #ffffff; margin: 0; padding: 0; }

.eoy-2016 .eoy-cheers-heart { margin: 40px 0; width: 65px; }
